a{text-decoration: none;}

.communityHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-self: center;
  align-items: center;
  margin-bottom: 20px;
  background-color: antiquewhite;
  background-color: #0b2548;
  width: 950px;
  height: 330px;
  position: relative;
  border-radius: 0 0 10px 10px;
  margin-top: 0;
  padding-top: 0;
}

.bannerContainer{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-radius: 10px;
    width: 97%;
    height: 8rem;
    overflow: hidden;
    background-color: #0b2548;
}

.banner {
    width: 100%;
}

.communityInfo {
    display: flex;
    position: relative;
    top : 5.2rem;
    width: 80%;
}

.name {
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    margin: 10px;


}

.description {
    font-size: 18px;
    margin: 10px;
}

.iconContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    background-color: #FFFFFF;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    flex-shrink: 0;
}

.icon {
    width: 50px;
    height: 50px;
    margin: 10px;
}

.communityNameContainer {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    word-break: normal;
    overflow-wrap: break-word;
    white-space: normal;
    width: 610px; 

}

.description {
    font-size: 18px;
    color: #FFFFFF;
}

.actionButton {
    display: flex;
    color: #FFFFFF;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    margin: 10px;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #0b2548;
    box-shadow: #FFFFFF 1px 1px 5px;
    align-self: flex-end;
    margin: 0 20px 20px 0;
}

.postsContainer {
    position: fixed;
    bottom: 20px;
    right: 20px;
    
}

.actionButtonPost{
    display: flex;
    color: #FFFFFF;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    margin: 10px;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #0d883c;

    box-shadow: #FFFFFF 1px 1px 5px;
    align-self: flex-end;
    margin: 0 20px 20px 0;
}
.actionButton:hover {
    opacity: 0.7;
}

.actionButton:active {
    opacity: 0.9;
}