.post{
    display: flex;
    justify-self: center;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 10px 20px 20px 20px;
    width: 60%;
    border: none;
    border-radius: 20px;
    background-color: #D9D9D9;
}

.title{
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 600;
}

.content{
    margin-bottom: 10px;
    font-size: 1rem;
}

.image{
    max-width: 270px;
    max-height: 150px;
    object-fit: cover;
    border-radius: 10px;
}