/* Personalizar a cor de fundo do Navbar */
.navbar {
  background-color: #18a75b;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  padding: 7px 0px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  margin-bottom: 3rem;
  position: fixed;
}

/* Personalizar o texto e links no Navbar */
.navbar .navbar-brand {
  color: #ffffff !important; /* Cor do texto do título */
  left: 50px;
  margin-left: 40px;
}

.navbar .nav-link {
  color: #ffffff !important; /* Cor dos links */
  transition: color 0.3s ease;
  margin-left: 5px;
}

.navbar .nav-link:hover {
  color: #ffd700 !important; /* Cor do texto ao passar o mouse */
}

/* Personalizar o botão de toggle (para telas pequenas) */
.navbar-toggler {
  border-color: #ffffff !important;
}

.navbar-toggler-icon {
  background-color: #ffffff; /* Ícone do toggle */
}

.navbar span {
  color: #004420;
  font-family: serif;
  font-size: 2rem;
  top: 4px;
  position: absolute;
  left: 70px;
  display: flex;
}

.navbar img {
  height: 50px;
  width: auto;
  align-items: center;
  position: absolute;
  top: 5px;
  left: 20px;
}

.search-bar {
  width: 200px;
  margin-left: 20px; /* Para dar um espaço entre os links e a search bar */
  padding: 12px;
  background-color: #fff;
  border: 0px solid #fff;
  border-radius: 25px;
  font-size: 15px;
  box-sizing: border-box;
}
