.sidebar {
  position: fixed;
  top: 3rem;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: #0b2548;
  padding: 16px;
  overflow-y: auto;
  z-index: 100;
  overflow: hidden;
}

.profilePictureContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  align-self: center;
  justify-self: center;
  border-radius: 50%;
  margin-bottom: 16px;
  margin-top: 30px;
}

.profilePicture {
  width: 100%;
  border-radius: 50%;
}

.username {
  color: #fff;
  font-size: 24px;
  text-align: center;
  margin-bottom: 16px;
}

.title {
  color: #fff;
  margin-bottom: 16px;
  font-size: 20px;
}

.communityList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 300px;

  overflow: auto;
  scrollbar-width: none;  /* Para Firefox */
  -ms-overflow-style: none; /* Para Internet Explorer e Edge */
}

.communityList::-webkit-scrollbar {
  display: none; /* Para Chrome, Safari e Edge */
}
.communityItem {
  margin-bottom: 12px;
}

.communityBox {
  display: flex;
  align-items: center;
  padding: 8px;
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

.iconGroup {
  margin-right: 8px;
  display: flex;
  align-items: center;

}
.iconGroup img {
  width: 20px;
  height: auto;
}

.communityName {
  font-size: 16px;
  color: #fff;
}

.communityLink {
  text-decoration: none;
  color: inherit;
}

.createCommunityButton {
  width: 30px;
  height: 30px;

}

.createCommunityContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #D9D9D9;
  border-radius: 50%;
  justify-self: flex-end;
}

.logout {
  display: flex;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.logoutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-self: flex-start;
}

.buttonsContainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: 16px;
}